@use "sass:math";

body {
  background: #eee;
  #canvas-image-blending {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    bottom: 24%;
    transform: translateY(24%);
    z-index: -1;
  }

  @media (max-width: 767px) {
    #canvas-image-blending {
      transform: translateY(10%);
    }
  }
}

.carousel {
  $carouselHeight: 180px;
  $fadeWidth: 40px;
  $padding: 10px;
  $radius: 8px;
  $bg: rgba(255, 255, 255, 0);

  display: block;
  font-size: 0;
  border-radius: $radius;
  padding: $padding;
  background: $bg;
  transform: translateZ(0);
  height: $carouselHeight;
  -webkit-overflow-scrolling: touch;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80%;
  max-width: 100%;
  min-width: 650px;
  margin: auto;
  margin-top: 1rem;

  .carousel-item {
    width: 300px;
    height: 400px;
    position: absolute;
    cursor: pointer;

    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
  }

  .overlay {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;

    background: rgba(77, 77, 77, 0.9);
    color: #000000;
    opacity: 0;
    transition: all 0.5s;

    font-family: "Playfair Display", serif;
  }

  .items {
    padding-left: 20px;
    letter-spacing: 3px;
  }

  .head {
    font-size: 30px;
    line-height: 40px;

    transform: translateY(40px);
    transition: all 0.7s;
    hr {
      display: block;
      width: 0;

      border: none;
      border-bottom: solid 2px #eee;

      position: absolute;
      bottom: 0;
      left: 20px;

      transition: all 0.5s;
    }
  }

  .price {
    font-size: 22px;
    line-height: 10px;
    font-weight: bold;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.7s;
    .old {
      text-decoration: line-through;
      color: lighten(rgb(77, 77, 77), 40%);
    }
  }

  .artiste {
    font-size: 12px;
    opacity: 0;
    letter-spacing: 1px;
    font-family: "Lato", sans-serif;
    transform: translateY(40px);
    transition: all 0.7s;
    i {
      font-size: 16px;
    }
    span {
      margin-left: 10px;
    }
  }

  .carousel-item .overlay {
    opacity: 1;
    & .head {
      transform: translateY(0px);
    }

    & hr {
      width: 75px;
      transition-delay: 0.4s;
    }

    & .price {
      transform: translateY(0px);
      transition-delay: 0.3s;
      opacity: 1;
    }

    & .artiste {
      transform: translateY(0px);
      transition-delay: 0.6s;
      opacity: 1;
    }
  }

  .touch & {
    overflow: auto;
  }

  &[data-at*="left"] > .wrap {
    &::before {
      opacity: 1;
      text-indent: -50px;
    }
  }

  &[data-at*="right"] > .wrap {
    &::after {
      opacity: 1;
      text-indent: -50px;
    }
  }

  > .wrap {
    overflow: hidden;
    border-radius: calc($radius - math.div($padding, 2));

    &::before,
    &::after {
      content: "\2039";
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 2;
      width: $fadeWidth;
      font-size: 40px;
      text-indent: -30px;
      line-height: $carouselHeight;
      font-family: monospace;
      color: #fcfcfc46;
      font-weight: bold;
      border-radius: $radius;
      pointer-events: none;
      transition: 0.2s ease-out;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.208) 5%,
        transparent
      );
    }

    &::after {
      transform: rotate(180deg);
      left: auto;
      right: 0;
    }

    > ul {
      list-style: none;
      white-space: nowrap;
      height: $carouselHeight;

      > li {
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        margin: 0 0 0 10px;
        position: relative;
        overflow: hidden;
        transition: 0.25s ease-out;
        &:first-child {
          margin: 0;
        }

        > img {
          display: block;
          height: 100%;
          margin: auto;
          position: relative;
          z-index: 1;
          transition: 1s ease;
        }
      }
    }
  }
}
