.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  z-index: 10;
}

.btn2 {
  margin: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0.4rem;
  background-color: #171717;
  border-radius: 25px;
  transition: 0.4s ease-in-out;
}

.heading {
  text-align: center;
  margin: 1rem;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
}

.closeLogin {
  display: flex;
  color: white;
  background: none;
  justify-content: end;
  padding: 1rem;
}
.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 25px;
  padding: 0.6rem;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-icon {
  height: 1.3rem;
  width: 1.3rem;
  fill: white;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
}

.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 2.5rem;
}

.button1 {
  padding: 0.5em;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  border-radius: 5px;
  margin-right: 1rem;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button1:hover {
  background-color: black;
  color: white;
}

.button2 {
  padding: 0.5rem;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button2:hover {
  background-color: black;
  color: white;
}
.errormessage {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .btn2 {
    margin: 0.5rem;
  }

  .form {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .heading {
    font-size: 1rem;
  }
}
