.slick-prev {
  left: 100px;
  z-index: 10;
}
.slick-next {
  right: 100px;
  z-index: 10;
}
.backgroungFull {
  height: 100vh;
  width: 100vw;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.carousel-container {
  position: relative;
}
.visite {
  display: flex;
  border-radius: 2rem;
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  padding: 1rem 1rem 1rem 1rem;
  color: black;
  background-color: #ffffff5b;
  font-family: "Montserrat";
  font-size: 25px;
}
.paragraphe {
  position: absolute;
  top: 60vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: black;
  background-color: #ffffff5b;
  z-index: 1;
  border-radius: 2rem;
  font-family: "Montserrat";
  font-size: 20px;
}
