@import url("https://fonts.google.com/specimen/Montserrat");

.slick-prev {
  left: 100px;
  z-index: 10;
}
.slick-next {
  right: 100px;
  z-index: 10;
}

.slick-dots {
  bottom: 2vh;
}

.backgroundFull {
  object-fit: contain;
  height: 80vh;
  width: 100%;

  img {
    width: 100%;
  }
}
.carousel-container {
  position: relative;
}
.visite {
  display: flex;
  border-radius: 2rem;
  position: absolute;
  top: 25vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  padding: 1rem 1rem 1rem 1rem;
  color: black;
  background-color: #ffffff5b;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}

.visite:hover {
  background-color: #72d4fec3;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.paragraphe {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: black;
  background-color: #ffffff5b;
  z-index: 1;
  border-radius: 2rem;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  padding: 0.5rem;
}

button {
  cursor: pointer;
}
