@import url("https://fonts.google.com/specimen/Montserrat");

* {
  text-decoration: none;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.global {
  h1 {
    display: flex;
    justify-content: center;
    font-size: 6rem;
    color: White;
    background-image: url("/public/tableaux/tableau1.jpeg");
    background-size: cover;
    padding: 5%;
  }

  p {
    display: block;
    color: white;
    font-size: 1.3rem;
    margin-left: 100px;
    margin-right: 100px;
    padding: 3%;
  }
}

@media screen and (max-width: 600px) {
  .global {
    display: inline-block;
  }

  .global {
    h1 {
      font-size: 2rem;
    }
  }
  .global {
    img {
      width: 20%;
    }
  }
  .global {
    p {
      font-size: 1rem;
    }
  }
}
