@import url("https://fonts.google.com/specimen/Montserrat");

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.global {
  h1 {
    display: flex;
    justify-content: center;
    font-size: 6rem;
    color: rgb(255, 255, 255);
    background-image: url("/public/tableaux/tableau1.jpeg");
    background-size: cover;
    padding: 5%;
  }

  p {
    display: block;
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    background-color: rgba(255, 255, 255, 0.375);
    border-radius: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 3%;
  }
}

@media screen and (max-width: 600px) {
  .global {
    display: inline-block;
    h1 {
      font-size: 2rem;
    }
    img {
      width: 20%;
    }
    p {
      font-size: 1rem;
    }
  }
}
