@import url("https://fonts.google.com/specimen/Montserrat");

* {
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.navBar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(16, 17, 16, 0.629);
  background: linear-gradient(
    25deg,
    rgba(0, 0, 0, 0.579) 0%,
    rgba(36, 38, 36, 0.665) 50%,
    rgba(77, 80, 78, 0.627) 100%
  );
  padding: 0 2vw;
  img {
    width: 10rem;
  }
}

.iconListe {
  display: flex;
  align-items: center;
  gap: 5vw;
  margin: 1vw;

  img {
    width: 2.2rem;
    background: linear-gradient(
      25deg,
      rgba(0, 0, 0, 0.579) 0%,
      rgba(36, 38, 36, 0.665) 50%,
      rgba(77, 80, 78, 0.627) 100%
    );
  }
}

.navButton {
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.navButton::before {
  content: attr(data-description);
  color: #fff;
  padding: 5px;
  font-size: 14px;
  z-index: 1;
  transition: opacity 0.2s;
  opacity: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  white-space: nowrap;
}

.navButton:hover::before {
  display: block;
  opacity: 1;
}

.navButton img:hover {
  box-shadow: 5px 10px 20px #f4f1d6;
  transition: box-shadow 0.3s;
  border-radius: 50%;
}

.diamond-icon {
  width: 1rem;
  height: auto;
}
