@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.global-artist {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.artworks-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  align-items: start;
  gap: 1rem;
  width: 100%;
}

.artwork-entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: #f2f2f2;
  padding: 1rem;
  border-radius: 8px;
  height: 100%;

  .artwork-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;

    div {
      text-align: center;
    }
  }
}

.artwork-name-user {
  font-size: 1.1rem;
}

.artwork-name {
  font-size: 1rem;
}

.artwork-entry-names {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.artwork-entry-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  width: 100%;

  div {
    flex-basis: calc(50% - 10px);
  }
}

@media screen and (max-width: 768px) {
  .artworks-container {
    grid-template-columns: 1fr;
  }
}
