footer {
  padding: 1.7rem;
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.582) 13%,
    rgba(54, 51, 51, 0.606) 22%,
    rgba(45, 39, 39, 0.583) 70%
  );
  font-size: 20px;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

.button-apropos,
.button-vogue,
.button-mentions,
.button-rgpd {
  background-color: transparent;
  color: white;
  padding: 5px;
}

.diamond-container {
  position: absolute;
  left: 50%;
  bottom: 3.66rem;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.diamond {
  width: 40px;
  height: auto;
}

@media (max-width: 768px) {
  body,
  html {
    overflow-x: hidden;
  }

  footer {
    padding: 1rem;
    font-size: 16px;
  }

  .button-apropos,
  .button-vogue,
  .button-mentions,
  .button-rgpd {
    padding: 3px;
  }

  .diamond-container {
    top: 0.5rem;
  }

  .diamond {
    width: 30px;
  }
}
