main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  background: rgba(4, 4, 4, 0.412);
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.582) 13%,
    rgba(54, 51, 51, 0.606) 22%,
    rgba(45, 39, 39, 0.583) 70%
  );
  font-size: 20px;
  display: flex;
  color: white;
}

.button-apropos {
  background-color: transparent;
  color: white;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
}
.button-vogue {
  background-color: transparent;
  color: white;
}
